#sketch {
    border: 10px solid gray;
    height: 500px;
    position: relative;
}

#tmp_canvas {
    position: absolute;
    left: 0px; right: 0;
    bottom: 0; top: 0;
    cursor: crosshair;
}

.black, .white, .blue, .green, .yellow, .red, .purple {
    width:20px;
    height:20px; 
}	

.black { background-color:#000000;  }
.white { background-color:#FFFFFF; }
.blue { background-color:#0000FF;  } 
.green { background-color:#008000;  } 
.yellow { background-color:#FFFF00;  }
.red { background-color:#FF0000;  } 
.purple { background-color:#800080; }